{
  "overrides": [
    {
      "files": ["{.*,*}.{js,jsx}"],
      "options": {
        "singleQuote": true,
        "trailingComma": "es5",
        "semi": false
      }
    },
    {
      "files": ["{.*,*}.{ts,tsx}"],
      "options": {
        "singleQuote": true,
        "trailingComma": "none",
        "semi": false,
        "printWidth": 120
      }
    },
    {
      "files": ["{.*,*}.css"],
      "options": {
        "singleQuote": true,
        "trailingComma": "none",
        "semi": false,
        "printWidth": 120
      }
    }
  ]
}
